.social-btn {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background: #FFBF5E;
  border: 1px dotted #A32900;
  color: #A32900;
  text-align: center;
  text-decoration: none;
  padding: 5px
}
